.sender{
    
    color: white;
    align-self: flex-start;

  
}

.reciever{
    background-color:#f2f2f2;
    color: black;
    align-self: flex-end;
    font-size: 14px;
}

.chat-bubble{

    margin:10px;
    padding:10px;
    border-radius: 15px;
    width: 241px;

}

.chat-container{
    display:flex;
}


