.mobile-layout{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 885px;
    width:425px;
    border: solid 3px;
    border-radius: 55px;
    margin: 0;

}

.title-bar{
    background-color: aquamarine;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}